.botonClear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background: #ac0246;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 45px;
}
.botonClear:hover {
   background: #ebb000; 
}