*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background: #1b1b32;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: Lato, sans-serif;
  flex-direction: column;
}

.cont-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo {
  height: 100px;
}

.cont-contador {
  height: 550px;
  min-width:600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}